<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $statusArticle->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $statusArticle->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Status Articles'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Articles'), ['controller' => 'Articles', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Article'), ['controller' => 'Articles', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="statusArticles form large-9 medium-8 columns content">
    <?= $this->Form->create($statusArticle) ?>
    <fieldset>
        <legend><?= __('Edit Status Article') ?></legend>
        <?php
            echo $this->Form->input('name');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
